@import url(./global.css);

/* GERAL */

body {
    font-family: var(--regular);
    background-color: var(--dark-background-color);
    width: 1512px;
    margin: 0 auto;
}

button {
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--light-background-color);
    cursor: pointer;
    padding: 15px;
    font-size: var(--paragraph);
    font-weight: bold;
}

h2 {
    font-size: var(--h2);
    font-family: var(--bold);
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--light-text-color);
}
 
/* HEADER */
header{
    margin: 0 auto;
    width: 986px;
    display: flex;
    align-items: center;
    padding: 20px 15px;
    gap: 120px;
}

h1 {
    color: var(--light-text-color);
    font-size: var(--h3);
    font-family: var(--bold);
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 21px;
    align-items: center;
}

header nav ul a {
    color: var(--light-text-color);
    text-decoration: none;
}

.btn-wrapper {
    display: flex;
}

.btn-wrapper button {
    display: flex;
    gap: 15px;
    align-items: center;
}

.btn-wrapper button:first-of-type {
    background: none;
}

.menu-toggle{
    display: none;
}

.menu-toggle span{
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 3px 0;    
}

/* MAIN */

main {
    display: flex;
    padding: 40px 157px;
    align-items: center;
}

.main-titles {
    display: flex;
    flex-direction: column;
    gap: 35px;
    color: var(--light-text-color);
}

.main-titles h2 {
    font-size: var(--h1);
    font-family: var(--extrabold);
}

.main-titles p {
    width: 376px;
    font-size: var(--h4);
    font-family: var(--medium);
}

.main-btn-wrapper {
    display: flex;
    gap: 10px;
}

.main-btn-wrapper button:first-of-type{
    border-radius: 37px;
    padding: 15px 37px;
}

.main-btn-wrapper button:nth-of-type(2){
    padding: 15px 37px;
    border-radius: 37px;
    background-color: transparent;
    border: 1px solid var(--light-background-color);
}

/* Strategy */

.strategy {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 231px;
    color: var(--light-text-color);
}

.strategy h2 {
    width: 451px;
}

.strategy p {
    font-family: var(--medium);
    color: var(--second-text-color);
    margin-top: 10px;
    margin-bottom: 40px;
    width: 470px;
    text-align: center;
    font-size: var(--paragraph);
}

.strategy-grid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.strategy-card {
    width: 328px;
    border-radius: 2px;
    border: 1px solid var(--light-background-color);
    padding: 35px 20px;
    display: flex;
    gap: 20px;

}

.strategy-card img {
    width: 50px;
    height: 40px;
}

.strategy-card-content {
    display: flex;
    flex-direction: column;
    width: 213px;
    gap: 5px;
    height: 69px;
}

.strategy-card-content h3 {
    width: 213px;
    font-size: var(--h5);
    font-family: var(--bold);
    color: var(--light-text-color);
}

.strategy-card-content p {
    text-align: start;
    width: 213px;
    color: var(--light-text-color);
}

/* CLIENTS */

.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.comments p {
    width: 470px;
    font-family: var(--regular);
    font-size: var(--paragraph);
    color: var(--light-text-color);
    margin-bottom: 80px;
    margin-top: 10px;
    text-align: center;
}

.comment-card {
    background-color: var(--light-background-color);
    border-radius: 5px;
    padding: 40px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 70%;
}

.comment-card p {
    font-family: var(--medium);
    color: var(--second-text-color);
    font-size: var(--paragraph);
    margin-bottom: 15px;
    text-align: center;
}

.comment-card h3 {
    font-size: var(--h3);
    font-family: var(--bold);
    color: var(--text-color);
    margin-bottom: 8px;
}

.comment-card h4 {
    color: var(--second-text-color);
    font-family: var(--semibold);
    font-size: var(--paragraph);
}

/* DOWNLOAD */

.download {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download p {
    color: var(--light-text-color);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
}

.downloads-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
}

.downloads-buttons button {
    height: 82px;
    padding: 18px 28px;
    background-color: transparent;
    border: 1px solid var(--muted-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 25px;
}


.downloads-buttons button p {
    font-family: var(--bold);
    font-size: var(--paragraph);
    text-align: start;
    position: relative;
    top: 15px;
}

.downloads-buttons button p span {
    font-family: var(--bold);
    font-size: var(--h5);
}

/* PRICING */

.pricing {
    margin-top: 60px;
    padding: 160px 231px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing h2 {
    margin-bottom: 10px;
}

.pricing p {
    text-align: center;
    color: var(--light-text-color);
}

.pricing-cards {
    display: flex;
    gap: 30px;
    margin-top: 96px;
}

.pricing-card {
    border-radius: 10px;
    background-color: var(--light-background-color);
    padding: 50px;
    display: flex;
    gap: 30px;
}

.pricing-card-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pricing-card-text h3 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-family: var(--bold);
    font-size: var(--h3);
}

.pricing-card-text p {
    color: var(--second-text-color);
    font-family: var(--semibold);
    font-size: var(--paragraph);
    text-align: start;
    width: 217px;
}

.pricing-card-btn {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.pricing-valor {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.pricing-valor h4 {
    font-size: var(--h2);
    font-family: var(--bold);
}

.valor-text p{
    color: var(--primary-color);
    display: flex;
    text-align: start;
    font-family: var(--bold);
    font-size: var(--h5);
}

.valor-text p:nth-of-type(2) {
    font-family: var(--semibold);
    font-size: var(--paragraph);
}

.pricing-card-btn button {
    padding: 15px;
}

/* WORLD */

.world {
    display: flex;
    gap: 30px;
    padding: 50px 232px;
}

.world-titles {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 602px;
}

.world-titles h2 {
    width: 476px;
    font-family: var(--bold);
    font-size: var(--h2);
    text-align: start;
}

.world-titles p {
    font-family: var(--medium);
    font-size: var(--paragraph);
    line-height: 20px;
    color: var(--light-text-color);
    width: 455px;
}

/* APPOINTMENT */

.appointment {
    padding: 101px 317.5px;
    display: flex;
}

.form-appointment {
    display: flex;
    flex-direction: column;
    background-color: var(--light-background-color);
    padding: 40px 50px;
    gap: 40px;
    justify-content: space-evenly;
}

.form-appointment h2 {
    color: var(--text-color);
    font-family: var(--bold);
    font-size: var(--h3);
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-family: var(--semibold);
    font-size: var(--paragraph);
    color: var(--text-color);
}

input {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    padding: 11px 21px;
    border-radius: 5px;
    width: 507px;
}

input::placeholder {
    font-family: var(--regular);
    font-size: var(--paragraph);
    color: var(--second-text-color);
}

select {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    padding: 11px 21px;
    border-radius: 5px;
    width: 550px;
    color: var(--second-text-color);
}

select{
    -webkit-appearance: none;
    background-image: url(/IFinance/src/assets/img/select-icon.svg);
    background-repeat: no-repeat;
    background-position: 97%;
}

form button {
    margin-top: 40px;
    font-family: var(--bold);
    font-size: var(--paragraph);
    padding: 15px 40px;
}

/* FOOTER */

footer {
    border-top: 1px solid var(--light-background-color);
    display: flex;
    flex-direction: column;
}

.footer-nav-content {
    padding: 80px 231px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}

.footer-nav-columns {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-nav-columns h2 {
    font-family: var(--bold);
    font-size: var(--h3);
    text-align: start;
}

.footer-nav-columns p {
    color: var(--light-text-color);
    font-family: var(--medium);
    font-size: var(--paragraph);
}

.social-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-nav-columns ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-nav-columns a {
    text-decoration: none;
    color: var(--light-text-color);
    font-family: var(--semibold);
    font-size: var(--paragraph);
    text-transform: capitalize;
}

.copyright {
    background-color: var(--light-background-color);
    padding: 25px 235px;
    text-align: center;
    text-transform: capitalize;
    color: var(--second-text-color);
    font-family: var(--semibold);
    font-size: var(--paragraph);
}

@media (max-width: 500px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
        margin: 0;
        padding: 15px;
        justify-content: space-evenly;
    }

    header nav, .btn-wrapper {
        display: none;
    }

    .menu-toggle{
        display: flex;
        flex-direction: column;
    }

    /* MAIN */

    main {
        display: flex;
        flex-direction: column-reverse;
        padding: 10%;
    }

    main img {
        width: 100%;
    }

    .main-titles h2 {
        font-size: 50px;
    }

    .main-titles p {
        text-align: center;
    }

    .main-btn-wrapper{
        justify-content: center;
    }

    /* Strategy */

    .strategy {
        padding: 20px;
    }

    .strategy h2 {
        width: 100%;
    }

    .strategy p {
        width: 100%;
    }

    .strategy-grid {
        grid-template-columns: 1fr;
    }

    /* CLIENTS */

    .comments {
        margin-top: 60px;
    }

    .comments p {
        width: 100%;
    }

    /* DOWNLOAD */

    .download {
        margin-top: 100px;
        padding: 10px;
    }

    .downloads-buttons {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    /* PRICING */

    .pricing {
        padding: 10px;
    }

    .pricing-cards {
        flex-direction: column;
        margin-top: 50px;
    }

    /* WORLD */

    .world {
        margin-top: 50px;
        padding: 10px;
        flex-direction: column;
    }

    .world-titles {
        padding: 10px;
        width: 100%;
    }

    .world-titles h2{
        width: 100%;
    }

    .world-titles p {
        width: 100%;
    }

    /* APPOINTMENT */

    .appointment {
        margin-top: 50px;
        padding: 10px;
    }

    .appointment img {
        display: none;
    }

    .form-appointment {
        width: 100%;
        padding: 10px
    }

    fieldset {
        width: 100%;
    }

    input {
        width: 89%;
    }

    select {
        width: 100%;
    }

    /* FOOTER */

    footer {
        margin-top: 100px;
    }

    .footer-nav-content {
        padding: 40px 50px;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .copyright {
        padding: 10px;
    }
}

@media (max-width: 850px) {
    body {
        width: 100%;
    }

    header {
        width: 100%;
        margin: 0;
        padding: 15px;
        gap: 8%;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 10%;
    }

    main img {
        width: 90%;
    }

    .strategy-grid {
        grid-template-columns: 1fr 1fr;
    }

    .downloads-buttons {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .pricing {
        padding: 15px;
    }

    .pricing p {
        width: 100%;
    }

    .pricing-card-text p {
        color: var(--second-text-color);
        font-family: var(--semibold);
        font-size: var(--paragraph);
        text-align: start;
        width: 217px;
    }

    .pricing-cards {
        padding: 15px;
        margin: 15px;
    }

    .pricing-card {
        padding: 25px;
        gap: 20px;
    }

    .world {
        flex-direction: column;
        padding: 15px;
        align-items: center;
        gap: 60px;
    }

    .world-titles {
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .world-titles h2 {
        text-align: center;
        width: 100%;
    }

    .world-titles p {
        width: 100%;
    }

    .world img {
        width: 80%;
    }

    .appointment {
        padding: 50px 3%;
        width: 100%;
    }

    .form-appointment {
       width: 52.2%;
    }

    fieldset {
        width: 100%;
    }

    input {
        width: 89%;
    }

    select {
        width: 100%;
    }

    .footer-nav-content {
        padding: 80px ;
        column-gap: 50px;
    }

    .footer-nav-columns h2 {
        font-size: var(--h5);
    }
}